<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/scroll.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link href="~/Content/SiteDeclaration.css" rel="stylesheet" />
    <link href="~/Content/User.css" rel="stylesheet" />
</head>
<body>
@Html.Action("LayoutHeader", "Home")
    <div class="container">
        <div class="menu">
            <ul class="main-menu">
                <li>@Html.ActionLink("Мои объявления", "MyDeclarations", "User")</li>
                <li>Мои сообщения</li>
                <li>@Html.ActionLink("Настройки", "AccountEdit", "User")</li>
                <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
            </ul>
        </div>
        <div class="content">
            <div class="content-holder">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/MyScripts/UserImg.js"></script>
</body>
</html>
