@using Kufar3.Models

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@{
    var users = (List<User>) ViewBag.Users;
    var roles = (List<Role>) ViewBag.Roles;
}

<div class="container-admin">
    <h2>Users</h2>
    <div class="tab">
        <table class="table">
            <tr>
                <td width="50">
                    Id
                </td>
                <td width="230">
                    Email
                </td>
                <td width="100">
                    Role
                </td>
                <td width="100">
                    Option
                </td>
            </tr>

        </table>
    </div>
    @foreach (var user in users)
    {
        <div class="tab">
            <table class="table">
                <tr>
                    <td width="50">
                        @user.Id
                    </td>
                    <td width="230">
                        @user.Email
                    </td>
                    <td width="100">

                        @{
                            var roleName = roles.First(x => x.Id == user.RoleId).Name;
                            @Html.ActionLink(roleName, "UsersChangeRole", "Admin", new {userId = user.Id}, null)
                        }
                    </td>
                    <td width="100">
                        @Html.ActionLink("Remove", "UserRemove", "Admin", new {userId = user.Id}, null)
                        @Html.ActionLink("Change", "UserChange", "Admin", new {userId = user.Id}, null)
                    </td>
                </tr>

            </table>
        </div>
    }

</div>