@using Kufar3.Models
@model Kufar3.Models.Declaration
@{
    string region = Model.City.Region.Name;
    string category = Model.SubCategory.Category.Name;
    var userId = (int)ViewBag.UserId;
    var directory = (DirectoryTypes)ViewBag.Directory;
}
@if (Model.UserId == userId && directory == DirectoryTypes.User)
{
    <div class="user-menu">
        <b>@Html.ActionLink("Удалить", "DeleteDeclaration", "User", new { declarationId = Model.Id }, null)</b>
        <b>@Html.ActionLink("Изменить", "UserDeclaration", "User", new { declarationId = Model.Id }, null) </b>
    </div>
}

<div class="all-elements">
    <div class="foto">
        <button id="left-button"><</button>
        <button id="right-button">></button>
        <img src="@Model.Images.First().Name" alt="No img" />
    </div>
    <div class="contacts">
        <b>@Model.Name</b><br /><br />
        <b>Область:&nbsp;</b>@region <br />
        <b>Город:&nbsp;</b>@Model.City.Name <br /><br />
        <b>Имя продавца:&nbsp;</b>@Model.User.Name <br />
        <b>Телефон:&nbsp;</b>@Model.User.MobileNumber<br />
        <br />
    </div>
</div>

<div class="all-foto">
    @foreach (var image in Model.Images)
    {
        var path = image.Name;
        <img src="@path" alt="No img" />
    }
</div>
<div id="description">
    <br />
    <b>Категория:&nbsp;</b>@category <br />
    <b>Подкатегория:&nbsp;</b>@Model.SubCategory.Name
    <br /><br />
    <b>Цена:&nbsp;</b><b>Договорная</b><br />
    <br />
    <b>Описание:&nbsp;</b>@Model.Description <br />
</div>
<br />


<script type="text/javascript">
    $(function () {
        var i = 0;
        var array = $('.all-foto img');

        $('#right-button').click(function () {
            if (i < array.length - 1)
                i++;
            if (i < array.length) {
                button();
            }
        });

        $('#left-button').click(function () {
            if (i > 0)
                i--;
            if (i >= 0) {
                button();
            }
        });

        $('.all-foto img').click(function () {
            i = $('.all-foto img').index(this);
            button();
        });

        function button() {
            var elem = $(array[i]).attr('src');
            $('.foto img').attr('src', elem);
            $(`.all-foto img`).removeClass('img-light');
            $(`.all-foto img:eq(${i})`).addClass('img-light');
        };
    });
</script>
