@using Kufar3.Models

@{
    var declarations = (List<Declaration>) ViewBag.Declarations;
    var userRole = (UserRoles) ViewBag.UserRole;
    var userId = (int)ViewBag.UserId;
    var directory = (DirectoryTypes)ViewBag.Directory;
}

<ul>
    @foreach (var declaration in declarations)
    {
        <li class="declarations">
            @if (declaration.UserId == userId && directory == DirectoryTypes.User)
            {
                <div id="menu-desc">
                    <b>@Html.ActionLink("Изменить", "UserDeclaration", "User", new { declarationId = declaration.Id }, null) </b>
                    <b>@Html.ActionLink("Удалить", "DeleteDeclaration", "User", new {declarationId = declaration.Id}, null)</b>

                </div>
            }
            @{
                var path = declaration.Images.FirstOrDefault()?.Name;
                var url = Url.Action("Declaration", "Home", new {declarationId = declaration.Id});

                if (userRole == UserRoles.Moderator && directory == DirectoryTypes.Moderator)
                {
                    url = Url.Action("DeclarationModeration", "Moderator", new {declarationId = declaration.Id});
                }
            }

            <div id="img">
                <a href="@url"><img src="@path" alt="No img"/></a>
            </div>
            <div class="desc">
                <p class="nameD">
                    <b>
                        <a href="@url">@declaration.Name</a>
                    </b>
                </p>

                <div class="text">
                    @declaration.CreatedDate / @declaration.City.Region.Name / @declaration.City.Name<br/>
                    @declaration.SubCategory.Category.Name / @declaration.SubCategory.Name
                    <br/>
                    <div class="price">Цена</div>
                </div>

            </div>
        </li>
    }
</ul>
