@using Kufar3.Models
@{
    Declaration declaration = ViewBag.declaration;
    string region = declaration.City.Region.Name;
    string category = declaration.SubCategory.Category.Name;
}


<div class="all-elements">
    <div class="foto">
        <button id="left-button"><</button>
        <button id="right-button">></button>
        <img src="@declaration.Images.First().Name" alt="No img" />
    </div>
    <div class="contacts">
        <b>@declaration.Name</b><br /><br />
        <b>Область:&nbsp;</b>@region <br />
        <b>Город:&nbsp;</b>@declaration.City.Name <br /><br />
        <b>Имя продавца:&nbsp;</b>@declaration.User.Name <br />
        <b>Телефон:&nbsp;</b>@declaration.User.MobileNumber<br />
        <br />
    </div>
</div>

<div class="all-foto">
    @foreach (var image in declaration.Images)
    {
        var path = image.Name;
        <img src="@path" alt="No img" />
    }
</div>
<div id="description">
    <br />
    <b>Категория:&nbsp;</b>@category <br />
    <b>Подкатегория:&nbsp;</b>@declaration.SubCategory.Name
    <br /><br />
    <b>Цена:&nbsp;</b><b>Договорная</b><br />
    <br />
    <b>Описание:&nbsp;</b>@declaration.Description <br />
</div>


<script type="text/javascript">
    $(function () {
        var i = 0;
        var array = $('.all-foto img');

        $('#right-button').click(function () {
            if (i < array.length - 1)
                i++;
            if (i < array.length) {
                button();
            }
        });

        $('#left-button').click(function () {
            if (i > 0)
                i--;
            if (i >= 0) {
                button();
            }
        });

        $('.all-foto img').click(function () {
            i = $('.all-foto img').index(this);
            button();
        });

        function button() {
            var elem = $(array[i]).attr('src');
            $('.foto img').attr('src', elem);
            $(`.all-foto img`).removeClass('img-light');
            $(`.all-foto img:eq(${i})`).addClass('img-light');
        };
    });
</script>
