@using Kufar3.Models

@{
    List<Declaration> declarations = ViewBag.declarations;
}
@{
    ViewBag.Title = "MyDeclorations";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}
<h2>Мои объявления</h2>

<ul>
    @foreach (Declaration declaration in declarations)
    {
        <li class="declarations">
         
            @{
                string path = declaration.Images.FirstOrDefault()?.Name;
                string url = "/Home/Declaration/?declarationId=" + @declaration.Id;
                string editUrl = "/User/UserDeclaration/?declarationId=" + @declaration.Id;
                string removeUrl = "/User/DeleteImage/?declarationId=" + @declaration.Id;
            }
            <div id="menu-desc">
                <a href="@editUrl">Редактировать</a> 
                <a href="@removeUrl">Удалить</a> 
</div>        
            <div id="img">
                <a href="@url"><img src="@path" alt="No img"/></a>
            </div>
            <div id="desc">
                <h3>
                    <p id="nameD">
                        @declaration.Name
                    </p>
                </h3>
            </div>
            <div id="text">@declaration.Description</div>
             
        </li>
    }
</ul>