@using Kufar3.Models
@model Kufar3.Models.Declaration
@{
    ViewBag.Title = "UserDeclaration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    Declaration declaration = ViewBag.declaration;

    var categries = ViewBag.cats;
    var subCategories = ViewBag.subCat;
    var regions = ViewBag.regions;
    var cities = ViewBag.cities;
}
<div class="cont">
    <h2>@declaration.Name</h2>

    <div id="allImg">

        // TODO: Использовать цикл

        <div class="image" id="img0">
            <button>X</button>
            <img />
        </div>
        <div class="image" id="img1">
            <button>X</button>
            <img />
        </div>
        <div class="image" id="img2">
            <button>X</button>
            <img />
        </div>
        <div class="image" id="img3">
            <button>X</button>
            <img />
        </div>
        <div class="image" id="img4">
            <button>X</button>
            <img />
        </div>
        <div class="image" id="img5">
            <button>X</button>
            <img />
        </div>
    </div>

    <input hidden class="file-input-hidden" type="file" id="files" name="files" multiple />


    @using (Html.BeginForm("DeclarationUpdate", "User", FormMethod.Post))
    {

        @Html.HiddenFor(x => x.Images[0].Name, new { id = "formId0" })
        @Html.HiddenFor(x => x.Images[1].Name, new { id = "formId1" })
        @Html.HiddenFor(x => x.Images[2].Name, new { id = "formId2" })
        @Html.HiddenFor(x => x.Images[3].Name, new { id = "formId3" })
        @Html.HiddenFor(x => x.Images[4].Name, new { id = "formId4" })
        @Html.HiddenFor(x => x.Images[5].Name, new { id = "formId5" })

        @Html.HiddenFor(x => x.Id)

        <table>
            <tr>
                <td>
                    <p>Раздел:</p>
                </td>
                <td>@Html.DropDownList("Category", categries as SelectList, new { id = "Category" })</td>
            </tr>
            <tr>
                <td>
                    <p>Подраздел:</p>
                </td>
                <td>@Html.DropDownListFor(x => x.SubCategoryId, subCategories as SelectList, new { id = "SubCategoryId" })</td>
            </tr>
            <tr>
                <td>
                    <p>Область:</p>
                </td>
                <td>@Html.DropDownList("Region", regions as SelectList, new { id = "Region" })</td>
            </tr>
            <tr>
                <td>
                    <p>Город:</p>
                </td>
                <td>@Html.DropDownListFor(x => x.CityId, cities as SelectList, new { id = "CityId" })</td>
            </tr>
            <tr>
                <td>
                    <p>Название:</p>
                </td>
                <td>@Html.TextBoxFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>
                    <p>Описание:</p>
                </td>
                <td>@Html.TextAreaFor(x => x.Description, new { style = "height: 80px; width: 350px; font-size:12px;" })</td>
            </tr>
            <tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить" />
                </td>
            </tr>
        </table>
    }
    </div>
    <script type="text/javascript">

    $(function()
    {
        $('#Category').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems", "Declaration")/' + id,
                success: function(data)
                {
                    console.log("vernulll", data);
                    // заменяем содержимое присланным частичным представлением
                    $('#SubCategoryId').replaceWith(data);
                }
            });
        });
    });

    $(function()
    {
        $('#Region').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCities", "Declaration")/' + id,
                success: function(data)
                {
                    console.log("vernulllCity", data);
                    // заменяем содержимое присланным частичным представлением
                    $('#CityId').replaceWith(data);
                }
            });
        });
    });
    </script>

