@using System.Web.Mvc.Html
@using Kufar3.Models
@using Kufar3.ModelsView
@{
    var isAuthenticated = (bool) ViewBag.IsAuthenticated;
    var userName = (string) ViewBag.UserName;
    var userRole = (UserRoles) ViewBag.UserRole;
    var url1 = "Login";
    var url2 = "Account";

}

<div class="header">
    <div class="logo">
        <h2>
            @Html.ActionLink("kufar", "Index", "Home", null, new {@class = "kuf"})
        </h2>
    </div>

    @Html.Partial("~/Views/Home/SearchPage.cshtml")

    <div class="user">
        @if (isAuthenticated)
        {
            @*@Html.ActionLink("Выход", "Logout", "Account")*@
            url1 = "AddDeclaration";
            url2 = "Declaration";
            <a class="user-name">@userName</a>
            <div class="icon-menu">
                <ul class="main-menu">
                    @if (userRole == UserRoles.Admin || userRole == UserRoles.Moderator)
                    {
                        <li>@Html.ActionLink("Adminka", "Index", "Admin", null, new { @id = "admin-menu" })</li>
                    }
                    <li>@Html.ActionLink("Мои объявления", "MyDeclarations", "Personal", null, new {@id = "my-declarations" })</li>
                <li>
                    <a href id="messages">Мои сообщения</a>
                </li>
                <li>@Html.ActionLink("Настройки", "AccountEdit", "Personal", null, new { @id = "settings" })</li>
                <li>@Html.ActionLink("Выход", "Logout", "Account", null, new { @id = "exit" })</li>
                </ul>
            </div>
        }
        else
        {
            <a id="login">Вход</a>
        }

    </div>

    <div class="login-modal">
        <div class="login-dialog">
            <div class="login-non-click">
                <div id="login-value">
                    <b>Вход</b>
                </div>
                <div id="registration-value">
                    <b>Регистрация</b>
                </div>

                <div class="login-content">
                    @Html.Partial("~/Views/Account/Login.cshtml", new LoginModel())
                    @Html.Partial("~/Views/Account/Register.cshtml", new RegisterModel())
                </div>
            </div>
        </div>
    </div>
    <div class="plus">
        @Html.ActionLink("+", url1, url2)
    </div>
</div>

<script>

    $('#login').click(function()
        {
            $('.login-modal').show();
        }
    );

    $('.login-modal').click(function()
        {
            $('.login-modal').hide();
        }
    );

    $('.login-non-click').click(function(event)
    {
        event.stopPropagation();
    });

    $('#registration-value').click(function()
    {
        $('.login-window').hide();
        $('.registr-window').show();
        $('.login-dialog').addClass('registr-now');
    });

    $('#login-value').click(function()
    {
        $('.registr-window').hide();
        $('.login-window').show();
        $('.login-dialog').removeClass('registr-now');
    });

    /*************************************************************/
    $('.user-name').click(function()
    {
        $('.icon-menu').show();
        setTimeout(() => $(document).on('click', handler));
    });

    function handler(event)
    {
        if (!$(event.target).closest('.icon-menu').length)
        {
            if ($('.icon-menu').is(":visible"))
            {
                $('.icon-menu').hide();
                $(document).off('click', handler);
            }
        }
    };

</script>