@using Kufar3.Models
@{
    var isAuthenticated = (bool) ViewBag.IsAuthenticated;
    var userName = (string) ViewBag.UserName;
    var userRole = (UserRoles) ViewBag.UserRole;
    var url1 = "Login";
    var url2 = "Account";
}

<div class="header">
    <div class="logo">
        <h2>
            @Html.ActionLink("kufar", "Index", "Home", null, new {@class = "kuf"})
        </h2>
    </div>

    @Html.Partial("~/Views/Home/SearchPage.cshtml")

    <div class="user">
        @if (userRole == UserRoles.Admin || userRole == UserRoles.Moderator)
        {
            @Html.ActionLink("Adminka", "Index", "Admin")
        }
        @if (isAuthenticated)
        {
            url1 = "AddDeclaration";
            url2 = "Declaration";
            @Html.ActionLink(userName, "MyDeclarations", "Personal")
        }

        @if (isAuthenticated)
        {
            @Html.ActionLink("Выход", "Logout", "Account")
        }
        else
        {
            <a id="login">Вход</a>
        }

    </div>
    <div class="login-modal">
        <div class="login-dialog">
            <div class="login-non-click">
                <div id="login-value">
                    <b>Вход</b>
                </div>
                <div id="registration-value">
                    <b>Регистрация</b>
                </div>

                <div class="login-content">
                    @Html.Partial("~/Views/Account/Login.cshtml")
                    @Html.Partial("~/Views/Account/Register.cshtml")
                </div>
            </div>
        </div>
    </div>
    <div class="plus">
        @Html.ActionLink("+", url1, url2)
    </div>
</div>

<script>
    $('#login').click(function()
        {
            $('.login-modal').show();
        }
    );

    $('.login-modal').click(function()
        {
            $('.login-modal').hide();
        }
    );

    $('.login-non-click').click(function(event)
    {
        event.stopPropagation();
    });

    $('#registration-value').click(function()
    {
        $('.login-window').hide();
        $('.registr-window').show();
        $('.login-dialog').addClass('registr-now');
    });

    $('#login-value').click(function()
    {
        $('.registr-window').hide();
        $('.login-window').show();
        $('.login-dialog').removeClass('registr-now');
    });
</script>