@using Kufar3.Models
@model List<Category>

@{
    var idCategory = (int?) ViewBag.IdCategory;
    var idSubCategory = (int?) ViewBag.IdSubCategory;
}

<ul class="main-menu">
    @foreach (var category in Model)
    {
        var isShow = "";
        if (idCategory != null)
        {
            isShow = category.Id == idCategory ? "show" : "";
        }
        else
        {
            isShow = category.SubCategories.Any(x => x.Id == idSubCategory) ? "show" : "";
        }
        <li class="categories @isShow">
            <div class="list-menu">
                <a href="@Url.Action("Index", "Home", new {idCategory = category.Id}, null)">
                    <div class="menu-name">
                        @category.Name
                    </div>
                </a>
                <img src="~/ContentImages/down.png" class="icon-bottom">
            </div>
            <ul class="sub-menu">
                @foreach (var sub in category.SubCategories)
                {
                    <li class="sub-categories">
                        @Html.ActionLink(@sub.Name, "Index", "Home", new {idSubCategory = sub.Id}, null)
                    </li>
                }
            </ul>
        </li>
    }
</ul>

<script type="text/javascript">

    $(function()
    {
        $('.icon-bottom').click(function()
        {
            var tt = $(this).parent().parent();
            console.log(tt);
            if ($(tt).hasClass('show'))
            {
                console.log("yes");
                $(tt).removeClass('show');
                $(this).attr("src", "/ContentImages/down.png");
            }
            else
            {
                console.log("no");
                $('.categories').removeClass('show');
                $(`.icon-bottom`).attr("src", "/ContentImages/down.png");
                $(tt).addClass('show');
                $(this).attr("src", "/ContentImages/_top.png");
            }
        });
    });

</script>