@using Kufar3.Models
@model Kufar3.Models.Declaration
@{
    ViewBag.Title = "DeclarationModeration";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

    Declaration declaration = ViewBag.declaration;

    SelectList categories = ViewBag.categories;
    SelectList subCategories = ViewBag.subCategories;
    SelectList regions = ViewBag.regions;
    SelectList cities = ViewBag.cities;
}

<h2>@declaration.Name</h2>
    
<div id="all-images">
    @for (var i = 0; i < 6; i++)
    {
        <div class="image" id="img-@i">
            <button>X</button>
            <img />
        </div>
    }
</div>

<input hidden class="file-input-hidden" type="file" id="files" name="files" multiple/>

@using (Html.BeginForm("DeclarationUpdate", "Moderator", FormMethod.Post))
{

    @Html.HiddenFor(x => x.Images[0].Name, new { id = "formId0" })
    @Html.HiddenFor(x => x.Images[1].Name, new { id = "formId1" })
    @Html.HiddenFor(x => x.Images[2].Name, new { id = "formId2" })
    @Html.HiddenFor(x => x.Images[3].Name, new { id = "formId3" })
    @Html.HiddenFor(x => x.Images[4].Name, new { id = "formId4" })
    @Html.HiddenFor(x => x.Images[5].Name, new { id = "formId5" })

    @Html.HiddenFor(x => x.Id)

    <table>
        <tr>
            <td>
                <p>Раздел:</p>
            </td>
            <td>@Html.DropDownList("Category", categories, new {id = "Category"})</td>
        </tr>
        <tr>
            <td>
                <p>Подраздел:</p>
            </td>
            <td>@Html.DropDownListFor(x => x.SubCategoryId, subCategories, new {id = "SubCategoryId" })</td>
        </tr>
        <tr>
            <td>
                <p>Область:</p>
            </td>
            <td>@Html.DropDownList("Region", regions, new {id = "Region"})</td>
        </tr>
        <tr>
            <td>
                <p>Город:</p>
            </td>
            <td>@Html.DropDownListFor(x => x.CityId, cities, new {id = "CityId" })</td>
        </tr>
        <tr>
            <td>
                <p>Название:</p>
            </td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
        </tr>
        <tr>
            <td>
                <p>Описание:</p>
            </td>
            <td>@Html.TextAreaFor(x => x.Description, new {style = "height: 80px; width: 350px; font-size:12px;"})</td>
        </tr>
        <tr>
        <tr>
            <td>
                <input type="submit" value="Отправить"/>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">

    $(function()
    {
        $('#Category').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems", "Moderator")/' + id,
                success: function(data)
                {
                    console.log("vernulll", data);
                    // заменяем содержимое присланным частичным представлением
                    $('#SubCategoryId').replaceWith(data);
                }
            });
        });
    });

    $(function()
    {
        $('#Region').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCities", "Moderator")/' + id,
                success: function(data)
                {
                    console.log("vernulllCity", data);
                    // заменяем содержимое присланным частичным представлением
                    $('#CityId').replaceWith(data);
                }
            });
        });
    });
</script>