@using Kufar3.Models

@{
    ViewBag.Title = "DeclarationList";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@{
    List<Declaration> declarations = ViewBag.declarations;
    string title = ViewBag.title;
}

<div class="content-holder">
    <p class="nameD"><b>Объявления</b></p>
</div>
<ul>
    @foreach (var declaration in declarations)
    {
        <li class="declarations">
            @{
                var path = declaration.Images.FirstOrDefault()?.Name;
                var url = Url.Action("DeclarationModeration", "Moderator", new { declarationId = declaration.Id });
            }

            <div id="img">
                <a href="@url"><img src="@path" alt="No img" /></a>
            </div>
            <div class="desc">
                <p class="nameD"><b>@declaration.Name</b></p>

                <div class="text">
                    @declaration.CreateTime / @declaration.City.Region.Name / @declaration.City.Name<br />
                    @declaration.SubCategory.Category.Name / @declaration.SubCategory.Name
                    <div class="price">Цена</div>
                </div>

            </div>
        </li>
    }
</ul>