@model Kufar3.Models.User

@{
    ViewBag.Title = "AccountEdit";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container">
    <h2>Персональные данные</h2>
    @using (Html.BeginForm("AccountEdit", "Personal", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary(false)
            @Html.HiddenFor(x => x.Id)

            <p>
                <label>Электронный адрес</label><br />
                @Html.TextBoxFor(x => x.Email, null, new { id = "EmailChange", type = "Email" })
            </p>
            <p>
                <label>Имя</label><br />
                @Html.TextBoxFor(model => model.Name, null, new { id = "NameChange"})
            </p>
            <p>
                <label>Номер телефона</label><br />
                @Html.TextBoxFor(model => model.MobileNumber, null, new { id = "NumberChange"})
            </p>
            <p>
                <label>Пароль</label><br />
                @Html.TextBoxFor(x => x.Password, null, new { id = "PassChange", type = "password" })
            </p>
            <p>
                <button type="submit">Изменить</button>
            </p>
        </div>
    }
</div>

