@model Kufar3.ModelsView.RegisterModel

@{
    Layout = null;
}

<div class="registr-window">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary(false)
            <p>
                <label>Электронный адрес</label><br />
                @Html.EditorFor(model => model.Email)
            </p>
            <p>
                <label>Имя</label><br />
                @Html.EditorFor(model => model.Name)
            </p>
            <p>
                <label>Номер телефона</label><br />
                @Html.EditorFor(model => model.MobileNumber)
            </p>
            <p>
                <label>Пароль</label><br />
                @Html.EditorFor(x => x.Password)
            </p>
            <p>
                <label>Подтвердить пароль</label><br />
                @Html.EditorFor(x => x.ConfirmPassword)
            </p>
            <p><button type="submit">Зарегистрировать</button></p>
        </div>
    }

</div>
